
@model List<AspNetCoreWebApplication.Models.Recipe>;

@{
    ViewData["Title"] = "Example app";
}


<a class="twitter-link" href="http://twitter.com/home/?status=I just hosted a website on AWS!"><img src="img/tweet.svg" /></a>
<h1>@ViewData["Message"]</h1>